<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间是对应接口的包名+类名,指定要映射的接口 -->
<mapper namespace="com.jay.dao.UserDao">
    <!--id是接口中的方法名，结果类型如没有在mybatis.xml文件中配置别名，则必须使用全名称（包名+类名） -->
    <select id="setHouses" parameterType="com.jay.entities.House">
        insert into houses(phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc) values(#{phone}, #{rent}, #{zulintype}, #{quyu}, #{ditie}, #{xiaoqu}, #{louceng}, #{fangjiantype}, #{dianti}, #{fangjiandaxiao}, #{sex}, #{fukuantype}, #{contact}, #{img}, #{img_count}, #{status}, #{avasrc})
    </select>
    <select id="getAllHouses" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getonehouse" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where id = #{id}
    </select>
    <select id="getAllTips" resultType="Tip">
        select id, phone, text, `date`, `name`, icon from tips limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getOneTip" resultType="Tip">
        select id, phone, text, `date`, `name`, icon from tips where id = #{id}
    </select>
    <select id="getuserphone" resultType="java.lang.String">
        select phone from user where nickName = #{nickName}
    </select>
    <select id="registeruser" parameterType="com.jay.entities.User">
        insert into user(phone, nickName, avatarUrl, province, city) values(#{phone}, #{nickName}, #{avatarUrl}, #{province}, #{city})
    </select>
    <select id="publish" parameterType="com.jay.entities.Tip">
        insert into tips(phone, text, `date`, `name`, icon) values(#{phone}, #{text}, #{date}, #{name}, #{icon})
    </select>
    <select id="updateHouse" parameterType="com.jay.entities.House">
        update houses set rent = #{rent}, zulintype = #{zulintype}, quyu = #{quyu}, ditie = #{ditie}, xiaoqu = #{xiaoqu}, louceng = #{louceng}, fangjiantype = #{fangjiantype}, dianti = #{dianti}, fangjiandaxiao = #{fangjiandaxiao}, sex = #{sex}, fukuantype = #{fukuantype}, contact = #{contact}, img = #{img}, img_count = #{img_count} where phone = #{phone}
    </select>
    <select id="deleteHouse">
        delete from houses where id = #{id} and phone = #{phone}
    </select>
    <select id="delOnetip">
        delete from tips where id = #{id} and phone = #{phone}
    </select>

    <select id="getAllHousesquyu" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesfang" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where fangjiantype = #{fangjiantype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHouseszulin" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where zulintype = #{zulintype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousespriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousespricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyufang" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and fangjiantype = #{fangjiantype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyuzulin" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and zulintype = #{zulintype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyupriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyupricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesfangzulin" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where fangjiantype = #{fangjiantype} and zulintype = #{zulintype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesfangpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where fangjiantype = #{fangjiantype} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesfangpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where fangjiantype = #{fangjiantype} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHouseszulintypepriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where zulintype = #{zulintype} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHouseszulintypepricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where zulintype = #{zulintype} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyufangzulin" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and fangjiantype = #{fangjiantype} and zulintype = #{zulintype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyufangpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and fangjiantype = #{fangjiantype} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyufangpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and fangjiantype = #{fangjiantype} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyuzulinpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and zulintype = #{zulintype} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyuzulinpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and zulintype = #{zulintype} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesfangzulinpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where fangjiantype = #{fangjiantype} and zulintype = #{zulintype} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesfangzulinpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where fangjiantype = #{fangjiantype} and zulintype = #{zulintype} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyufangzulinpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and fangjiantype = #{fangjiantype} and zulintype = #{zulintype} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesquyufangzulinpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and fangjiantype = #{fangjiantype} and zulintype = #{zulintype} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditie" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where ditie = #{ditie} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiefang" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where ditie = #{ditie} and fangjiantype = #{fangjiantype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiezulin" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where ditie = #{ditie} and zulintype = #{zulintype} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiepriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and rent >= #{price} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiepricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} and rent >= #{price} <![CDATA[and rent < #{price_end}]]> limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiefangzulin" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiefangpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiefangpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiezulinpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiezulinpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiefangzulinpriceend" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>
    <select id="getAllHousesditiefangzulinpricestart" resultType="House">
        select id, phone, rent, zulintype, quyu, ditie, xiaoqu, louceng, fangjiantype, dianti, fangjiandaxiao, sex, fukuantype, contact, img, img_count, status, avasrc from houses where quyu = #{quyu} limit #{itemcnt_start},#{itemcnt_end}
    </select>




</mapper>